html,
body {
    font-family: sans-serif;
    font-size: 18px;

    margin: 0;

    --fg1: #001514;
    --fg2: #A33B20;
    --bg: #EADEDA;
    --a1: #F18F01;
    --a2: #5A352A;
    --trans: 0.3s;
    --nav-tree-width: 400px;

    color: var(--fg1);
    background-color: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--fg2);
}

#content {
    position: absolute;
    left: var(--nav-tree-width);
    width: calc(100% - var(--nav-tree-width));
}

main {
    display: flex;
    flex-direction: column;

    --w: 800px;
    --excess: calc(100% - var(--w));
    max-width: var(--w);
    padding-left: calc((var(--excess) - var(--nav-tree-width)) / 2);
    padding-right: calc(var(--excess) / 2);
}

img {
    --padding: 15px;

    object-fit: contain;
    max-height: 360px;
    padding-bottom: var(--padding);
    padding-top: var(--padding);
    width: 100%;
}

a:link {
    color: var(--a1);
}

a:visited {
    color: var(--a2);
}

#nav-tree {
    list-style: none;
    position: absolute;
    padding-top: 6rem;
    padding-left: 2rem;
    width: var(--nav-tree-width);
}

#nav-tree ul {
    list-style: none;
}

.nav-tree-bullet {
    --d: 0.5em;
    display: inline-block;
    height: var(--d);
    width: var(--d);

    background: var(--fg1);
    border-radius: 0.5em;

    transform: translateY(-0.15em);
    margin-right: 0.1em;
}

#nav-breadcrumb {
    filter: saturate(50%);
    margin-bottom: -1rem;
    opacity: 0.5;
    transition: filter var(--trans), opacity var(--trans);
}

#nav-breadcrumb:hover {
    filter: saturate(100%);
    opacity: 1;
}

.secret {
    display: none;
}