html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;

    margin: 0;

    --fg1: #001514;
    --fg2: #A33B20;
    --bg: #EADEDA;
    --a1: #F18F01;
    --a2: #5A352A;

    color: var(--fg1);
    background-color: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--fg2);
}

main {
    display: flex;
    flex-direction: column;
    max-width: min(800px, 100%);
    padding-left: calc((100% - min(800px, 100%)) / 2);
    padding-right: calc((100% - min(800px, 100%)) / 2);
}

img {
    --padding: 15px;

    object-fit: contain;
    max-height: 360px;
    padding-bottom: var(--padding);
    padding-top: var(--padding);
    width: 100%;
}

a:link {
    color: var(--a1);
}

a:visited {
    color: var(--a2);
}

#nav-tree {
    position: absolute;
    top: 6rem;
    left: 0.5rem;
}

#nav-breadcrumb {
    filter: saturate(50%);
    margin-bottom: -1rem;
    opacity: 0.5;
    transition: filter 0.5s, opacity 0.5s;
}

#nav-breadcrumb:hover {
    filter: saturate(100%);
    opacity: 1;
}