html,
body {
    font-family: sans-serif;
    font-size: 18px;

    margin: 0;

    --fg1: #001514;
    --fg2: #A33B20;
    --bg1: #EADEDA;
    --bg2: #EBCEAF;
    --bg3: #CE9D90;
    --a1: #F18F01;
    --a2: #5A352A;
    --trans: 0.3s;
    --nav-tree-width: 400px;
    --title-size: 1.25rem;

    color: var(--fg1);
    background-color: var(--bg1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--fg2);
}

#content {
    position: absolute;
    left: var(--nav-tree-width);
    width: calc(100% - var(--nav-tree-width));
    z-index: 0;
}

main {
    display: flex;
    flex-direction: column;

    --w: 800px;
    --excess: calc(100% - var(--w));
    max-width: var(--w);
    padding-left: calc((var(--excess) - var(--nav-tree-width)) / 2);
    padding-right: calc(var(--excess) / 2);
}

img {
    --padding: 15px;

    object-fit: contain;
    max-height: 360px;
    padding-bottom: var(--padding);
    padding-top: var(--padding);
    width: 100%;
}

input {
    border: none;
    border-radius: 0.25em;
}

a:link {
    color: var(--a1);
}

a:visited {
    color: var(--a2);
}

.floating-menu {
    background-color: var(--bg2);
    border-radius: 0.5rem;
    padding: 1em;
    position: absolute;
}

#tag-keys-menu {
    right: 0;
    margin-top: 5rem;
    margin-right: 1rem;
    z-index: 1;
}

#tag-keys-menu summary::marker {
    font-size: var(--title-size);
}

#tag-keys-menu ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.tag-keys-label {
    color: var(--a1);
    font-family: monospace;
    font-weight: bold;
}

.tag-keys-test {
    display: none;
}

#nav-tree {
    margin-top: 5rem;
    margin-left: 1rem;
    max-width: var(--nav-tree-width);
    z-index: 1;
}

#nav-tree ul {
    list-style: none;
}

#nav-tree>ul {
    padding-left: 0;
}

.nav-tree-bullet {
    --d: 0.5em;
    display: inline-block;
    height: var(--d);
    width: var(--d);

    background: var(--fg1);
    border-radius: 0.5em;

    transform: translateY(-0.15em);
    margin-right: 0.1em;
}

#nav-breadcrumb {
    filter: saturate(50%);
    margin-bottom: -1rem;
    opacity: 0.5;
    transition: filter var(--trans), opacity var(--trans);
}

#nav-breadcrumb:hover {
    filter: saturate(100%);
    opacity: 1;
}

.secret {
    display: none;
}

.title {
    color: var(--fg2);
    font-size: var(--title-size);
    font-weight: bold;
}