html, body {
    font-family: sans-serif;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    max-width: min(800px, 100%);
    padding-left: calc((100% - min(800px, 100%)) / 2);
    padding-right: calc((100% - min(800px, 100%)) / 2);
}

img {
    max-width: min(600px, 100%);
    padding-bottom: 30px;
    padding-top: 30px;
}
